{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="{% static 'css/waja.css' %}">
</head>
<body class="pinturabody">
    <div class="pinturatopnav a.active">
        <a href="waja.html">Volver al Inicio</a>
    </div>
        <li>
            
            <img src="https://cdn0.ecologiaverde.com/es/posts/3/9/2/propiedades_del_romero_para_que_sirve_y_como_prepararlo_3293_orig.jpg" alt="" height="550" class="centro">
        
            
            <p style="text-align:center;"> Informacion de la especia</p>
            <p style="text-align:center;"> Nombre de la especia: Romero</p>
            <p style="text-align:center;"> Valor: X</p>

            

        </li>
</body>
</html>