{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="{% static 'css/waja.css' %}">
</head>
<body class="pinturabody">
    <div class="pinturatopnav a.active">
        <a href="waja.html">Volver al Inicio</a>
    </div>
        <li>
            
            <img src="https://s3.abcstatics.com/media/bienestar/2022/01/22/pimienta-negra-kjQB--1248x698@abc.jpg" alt="" height="550" class="centro">
        
            
            <p style="text-align:center;"> Informacion de la especia</p>
            <p style="text-align:center;"> Nombre de la especia: Pimienta</p>
            <p style="text-align:center;"> Valor: X</p>

            

        </li>
</body>
</html>