{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/waja.css' %}">
</head>
<body class="pinturabody">
    <div class="pinturatopnav a.active">
        <a href="waja.html">Volver al Inicio</a>
    </div>
    <div>
        <li>
            <img src="https://i.blogs.es/a82edb/comino1/840_560.jpg" alt="" height="550" class="centro">

            <p style="text-align:center;"> Informacion de la especia</p>
            <p style="text-align:center;"> Nombre de la especia: Comino</p>
            <p style="text-align:center;"> Valor: X</p>
        </li>
    </div>
</body>
</html>