{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="waja.css">
    <script src="{% static 'js/a.js'%}"></script>
</head>
<body class="loginbody">
    <div class="login-container">
        <div class="Iniciar_sesion">
            <h2>Crear sesión</h2>
            <div class="inputBox">
                <input type="text" required="required" />
                <i class="far fa-user"></i>
                <span>Usuario</span>
            </div>
            <div class="inputBox">
                <input type="text" required="required" />
                <i class="far fa-envelope"></i> 
                <span>Correo electrónico</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required" />
                <i class="fas fa-lock"></i>
                <span>Crear contraseña</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required" />
                <i class="fas fa-lock"></i>
                <span>Confirmar contraseña</span>
            </div>
            <div class="inputBox">
                <input type="submit" value="Crear cuenta" />
            </div>
            <p>¿Ya eres miembro? <a href="#" class="login">Iniciar sesión</a></p>
            <a href="waja.html">volver al incio</a>
        </div>
    </div>
    
</body>
</html>